<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指明当前xml对应的Mapper -->
<mapper namespace="com.example.cms.modules.mapper.UserMapper">
    <select id="selectByUsername">
        SELECT * FROM USER WHERE username = #{username}
    </select>
</mapper>